<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="head">
            <div class="row-fluid">
                <div class="span12">
                    <div class="span6">
                        <h1 class="muted">App Asistencia</h1>
                    </div>
                </div>
            </div>
    
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <ul class="nav">
                            <!-- <li>
                                <a href="/Alumno/signup">SignUp Alumno</a>
                            </li> -->
    
                            <li>
                                <a href="/signup">Sign Up</a>
                            </li>
    
                            <!-- <li>
                                <a href="/Alumno/signin">SignIn Alumno</a>
                            </li>
     -->
                            <li>
                                <a href="/signin">Sign In</a>
                            </li>
                            <li>
                                <a href="/auth/google">Login Google</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>
</html>